html, body{
    font-family: 'Open Sans', sans-serif;
}
body {
    margin: 10px;
}
a {
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
body > header h2 {
    font-weight: normal;
}
h1 small {
    color: #333;
    display: block;
}
